<div class="card">
  <div class="row no-gutters">
    <div class="col-auto">
      <%= image_tag my_reservation.hostel.principal_image.variant(resize: "200x150!") %>
    </div>
    <div class="col">
      <div class="card-block px-2">
        <div class="separator-1"></div>
        <h4 class="card-title">
          <%= link_to my_reservation.hostel.name,
                      hostel_path(my_reservation.hostel) %>
          <%= link_to 'Ver detalles',
                      reservation_path(my_reservation),
                      class:'btn btn-primary',
                      style:'margin-left:10px' %>
        </h4>
        <div class="card-body">
          <h6>
            <i class="far fa-calendar-alt"></i>
            Fechas:
            <%= my_reservation.f_starting_date %> -
            <%= my_reservation.f_ending_date %>
          </h6>
          <% if type == 'in_date' %>
            <h6>Días restantes: <%= my_reservation.days_left %></h6>
          <% end %>
          <% if type == 'future' %>
            <h6>Faltan <%= my_reservation.days_remaining %> días</h6>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="separator-2"></div>
