<div class="container-fluid">
  <h1>Mi Dashboard</h1>
  <div class="row">
    <div class="col-6">
      <h3>Mis reservaciones</h3>

    </div>
    <div class="col-6">
      <h3>Mis hostales</h3>
      <div class="card">
        <div class="card-body">
          <%= link_to "Registrar un hostal", new_hostel_path, class: "btn btn-primary btn-sm" %>
        </div>
      </div>
      <div class="separator-2"></div>
      <% @my_hostels.each do |hostel| %>
      <div class="card">
        <div class="row">
          <div class="col-3">
            <%= image_tag hostel.principal_image.variant(resize: "300x300"),
            class: 'img-fluid' %>
          </div>
          <div class="col">
            <h4><%= hostel.name %></h4>
            <div class="card">
              <div class="card-body">
                <%= link_to "Modificar", "#", class: "btn btn-primary btn-sm" %>
                <%= link_to "Administrar caracteristicas", "#", class: "btn btn-primary btn-sm" %>
                <%= link_to "Eliminar", "#", class: "btn btn-primary btn-sm" %>
              </div>
            </div>
            <div class="separator-1"></div>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
      <div class="separator-1"></div>
      <% end %>
    </div>
  </div>
</div>
<div class="separator-2"></div>
