<div class="col-3">
  <div class="card room-type">
    <div
      class= "card-body <%= 'text-center add-new' if defined? isnew  %>"
      onclick="<%= onclick if defined? onclick %>"
      data-toggle="<%= datatoggle if defined? datatoggle %>"
      data-target="<%= datatarget if defined? datatarget %>">
      <%= yield %>
    </div>
  </div>
</div>
