<%= render 'card',
    datatoggle:'modal', datatarget:'#room-type-add-modal',
    onclick:"editRoomType(#{params[:hostel_id]})" do %>
  <%= image_tag room_type.image, class:'floating room-type' %>
  <div class="floating degradation"></div>
  <div class="floating text-container">
    <h4><%= room_type.name %></h4>
    <br>
    <h6>
      <i class="fas fa-bed"></i> Habitaciones:
      <%= room_type.occupied_rooms %>/<%= room_type.number_rooms %>
    </h6>
    <h6>
      <i class="fas fa-money-bill-wave"></i> Valor p/noche:
      $<%= number_with_delimiter room_type.value_per_night.to_i,
                                delimiter: "." %>
    </h6>
  </div>
<% end %>
