<div class="jumbotron jumbotron-fluid principal" style="margin-bottom:0">
  <div class="container">
    <h1 class="display-4">Busca tu hostal ideal, al mejor precio</h1>
    <p class="lead">Busca entre cientos de hostales y encuentra el que mejor se adapte a tus necesidades.</p>
    <%= form_with url:reservations_set_dates_and_redirect_path, local:true, html:{id:'principal-form', class:'form-inline'} do |form| %>
      <div class="form-group">
        <%= form.select :region_id,
          ([['Cualquier región', -1]] + @regions.pluck(:short_name, :id)), {},
          class:'form-control', onChange: "changeCommunes(this, '#hostel_commune_id'
          )" %>
      </div>
      <div class="input-group datepicker-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="far fa-calendar-alt"></i>Inicio
          </span>
        </div>
        <%= form.text_field :starting_date, autocomplete:'off',
                            id:'starting_date',
                            class:'form-control datepicker' %>
      </div>
      <div class="input-group datepicker-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="far fa-calendar-alt"></i>Fin
          </span>
        </div>
        <%= form.text_field :ending_date, autocomplete:'off',
                            class:'form-control based-datepicker',
                            'data-based': 'starting_date' %>
      </div>
      <div class="form-group">
        <%= form.submit 'Búscar hosteles', class:'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
<div class="container-fluid">
  <div class="separator-2"></div>
  <div class="row">
    <div class="col">
      <h1>¿Qué es clarivic?</h1>
    </div>
  </div>
  <div class="separator-3"></div>
  <div class="row">
    <div class="col">
      <p class="text-center">
        <i class="fas fa-hotel" style="font-size:100px"></i><br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="col">
      <p class="text-center">
        <i class="fas fa-map-marked-alt" style="font-size:100px"></i><br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="col">
      <p class="text-center">
        <i class="fab fa-cc-paypal" style="font-size:100px"></i><br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
  <div class="separator-2"></div>
</div>
