<%= form_with model: [@hostel, @hostel_feature], id:'hostel-feature-form' do |form| %>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class:"form-control" %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= form.label :image %>
        <%= form.file_field :image, class:"form-control-file" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class:"form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form.submit class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
