<div class="col-12" id="reservation-<%= reservation.id %>">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title"><%= link_to reservation.hostel.name, hostel_path(reservation.hostel) %></h3>
      <h6>
        <i class="far fa-calendar-alt"></i>
        <%= "#{reservation.starting_date} - #{reservation.ending_date} (#{reservation.days} días)" %>
      </h6>
      <h5>Habitaciones</h5>
      <%= render partial: 'reservations/reserved_room', collection: reservation.reserved_rooms %>
      <span style="font-weight:bold; margin-right:10px;">
        TOTAL: <%= toCLP (reservation.actual_total * reservation.days) %>
        <i>(Por noche: <%= toCLP (reservation.actual_total) %>)</i>
      </span>
      <%= link_to 'Pagar', reservation_pre_pay_path(reservation), class:'btn btn-primary' %>
    </div>
  </div>
</div>
<div class="separator-2"></div>
