<div class="card">
      <div class="row no-gutters">
          <div class="col-auto">
            <%= image_tag hostel.principal_image.variant(resize: "200x200") %>
          </div>
          <div class="col">
              <div class="card-block px-2">
                  <div class="separator-1"></div>
                  <h4 class="card-title"><%= hostel.name %></h4>
                  <p class="card-text block-with-text hostel-description"><%= hostel.description %></p>
                  <%= link_to 'Ver más', hostel_path(hostel),
                                        class: 'btn btn-primary btn-sm' %>
              </div>
          </div>
      </div>
      <div class="card-footer w-100 text-muted text-right">
        <%= "#{hostel.commune.short_name}, #{hostel.region.short_name}" %>
      </div>
</div>
<div class="separator-2"></div>
