<div class="col-4 border-left">
  <div id="card-by-form" class="card hostel-filter-search">
    <div class="card-body">
      <h4 class="card-title">Filtros</h4>
      <%= form_with url: hostels_path, method: 'get', html: { id: 'form-by-form' } do |form| %>
        <%= form.hidden_field :form_mode, value: 'form' %>
        <div class="form-group">
          <%= form.label 'Región' %>
          <%= form.select :region_id,
            ([['Cualquier región', -1]] + @regions.pluck(:short_name, :id)), {selected: @region_id},
            class:'form-control',
            onChange: "changeCommunes(this, '#commune_id'); Rails.fire(this.form, 'submit')" %>
        </div>
        <div class="form-group">
          <%= form.label 'Comuna' %>
          <%= form.select :commune_id,[['Cualquier comuna', -1]], {},
            class:'form-control',
            onChange: "Rails.fire(this.form, 'submit')" %>
        </div>
      <% end %>
      <div class="btn btn-primary"
           onclick="fadeFormMap()">
        <i class="fas fa-map-marked-alt"></i> Buscar en mapa
      </div>
    </div>
  </div>
  <div id="card-by-map" class="card hostel-filter-search">
    <div class="card-body">
      <%= form_with url: hostels_path, method: 'get', html: { id: 'form-by-map' } do |form| %>
      <%= form.hidden_field :form_mode, value: 'map' %>
      <div id="all-hostels-map"
           data-lat="<%= @chile[:latitude] %>"
           data-long="<%= @chile[:longitude] %>"
           data-zoom="3"
           style="height:300px; width:100%;">
      </div>
      <% end %>
      <br>
      <div class="btn btn-primary"
          onclick="fadeFormMap()">
        Filtrar por formulario
      </div>
    </div>
  </div>
</div>
