<%= render 'layouts/container_base', title:@hostel.name do %>
  <div class="col-3 border-right">
    <%= image_tag @hostel.principal_image, class:'img-thumbnail' %>
    <div class="separator-1"></div>
    <div class="card">
      <div class="card-header">
        Información
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= @hostel.description %>
        </li>
      </ul>
    </div>
    <div class="card">
      <div class="card-body">
        <div id="hostel-map" data-lat="<%= @hostel.latitude %>" data-long="<%= @hostel.longitude %>" style="height:300px; width:100%;"></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div id="carousel-features" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% @hostel.hostel_features.each_with_index do |hostel_feature, index| %>
        <div class="carousel-item <%= "#{"active" if index == 0}" %> ">
          <%= image_tag hostel_feature.image.variant(resize: "1024x300!"), class:"d-block w-100" %>
          <div class="carousel-caption" style="background-color: rgba(0, 0, 0, 0.7)">
            <h5><%= hostel_feature.title %></h5>
            <p><%= hostel_feature.description %></p>
          </div>
        </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carousel-features" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-features" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="separator-2"></div>
    <div class="card">
      <div class="card-header">
        Habitaciones
      </div>
      <div class="card-body">
        <div class="card bg-primary text-white">
          <div class="card-body">
            El número de habitaciones disponibles es respecto a las fechas
            entre <span id='starting-date'><%= session[:starting_date] %></span> y
            <span id='ending-date'><%= session[:ending_date] %></span>.
            Si quieres cambiar esto, haz
            <a onclick="$('#reservation-modal').modal()" class="text-white">click aquí</a>.
          </div>
        </div>
        <br>
        <div class="container-fluid">
          <div class="row" id="room-type-list">
            <%= render partial: 'hostels/room_type', collection: @room_types %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Comentarios
      </div>
      <div class="card-body">
        <% if @can_comment %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> Añadir comentario: </h5>
            <%= form_with url: hostel_comments_path(@hostel), method: :post do |form| %>
              <%= form.text_area :message, class: 'form-control', required: true %>
              <div class="separator-1"></div>
              <%= form.submit 'Enviar comentario', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
        <% end %>
        <div class="separator-2"></div>
        <% @hostel.comments.order('created_at DESC').each do |comment| %>
        <div class="card">
          <div class="card-body">
            <div class="toast" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <strong class="mr-auto">
                  <%= comment.user.full_name %>
                </strong>
                <small><%= comment.created_at.strftime('%d/%m/%Y %H:%M:%S') %></small>
              </div>
              <div class="toast-body">
                <div class="separator-1"></div>
                <%= comment.message %>
                <div class="separator-1"></div>
              </div>
            </div>
          </div>
        </div>
          <div class="separator-1"></div>
        <% end %>
        <div class="separator-4"></div>
      </div>
    </div>
  </div>
<% end %>
<%= render 'layouts/modal', id:'reservation-modal', title:'Rango de reservación' do %>
  <%= form_with url: reservations_set_dates_room_types_path do |form| %>
    <%= form.hidden_field :hostel_id, value: @hostel.id %>
    <%= render 'reservation_inputs', form:form, name:'form' %>
  <% end %>
<% end %>
