<div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :middle_name %><br />
  <%= f.text_field :middle_name %>
</div>

<div class="field">
  <%= f.label :first_surname %><br />
  <%= f.text_field :first_surname %>
</div>

<div class="field">
  <%= f.label :second_surname %><br />
  <%= f.text_field :second_surname %>
</div>

<div class="field">
  <%= f.label :gender %><br />
  <%= f.select :gender, @genders.keys %>
</div>

<div class="field">
  <%= f.label :bio %><br />
  <%= f.text_area :bio %>
</div>
